extends ../layouts/application
block content

  section = "birth"
  videoLink = "//www.youtube.com/embed/mHSRt_a6FYI"
  podContent = 'Many people have lost or damaged their original birth certificate, and only think about replacing it when it is needed right away, and they cannot afford to wait the weeks it takes to get a replacement certificate issued through the General Register Office.'
  include ../templates/certificate_section_form_left

  .container.content
    .row
      .col-sm-6
        h2 Birth Certificate
    .row
      .col-sm-6
        p.
          Simply Certificate provides fully certified replacement birth certificates which can be used for any official or legal purpose. Many people find that they need a birth certificate to be re- issued when preparing for a marriage, applying to university, getting a passport or applying  for a driver’s license. Many times it is merely because the original birth certificate has been  lost or destroyed over the years.
        p.
          The person named on the certificate does not need to sign a release or grant specific  permission for the request to be processed, and you do not need to supply identification such  as a passport or driver’s license. This means that certificates can even be issued for deceased  or long-lost family members. Many people use this fact to trace genealogies or find out about  their ancestors.
        p.
          We proceed under the assumption that the information our customers supply is complete and  accurate, and bear no responsibility for inaccurate or incomplete information. We will,  however, make every effort to locate the correct certificates and resolve any confusions.
      .col-sm-6
        p.
          Simply Certificate supplies replacement birth certificates from the UK, (England, Scotland,  Northern Ireland and Wales) as well as many overseas locations that are former British  territories, and any birth that had been registered at any British consulate. All of the  certificates that we supply are fully certified. They are issued with any official seals as  appropriate, many with a stamped or raised seal.  All of the certificates that we provide are complete ‘long version’ UK birth certificates,  which include the full names of both parents, and their addresses when the birth was  registered. They are suitable for pension, passport and driving license applications, work pre- checks (including CRB checks), applications for housing, and any other legal or official  purposes.
        p.
          Simply Certificate acts as the customer’s agents in providing replacement certificates of all  kinds, as well as providing legalisation or consular services. We are a fully independent  organisation, and unaffiliated with the UK General Register Office or the UK government.
