extends ../layouts/application
block content

  section = "death"
  videoLink = "//www.youtube.com/embed/QoMPqAqJnW8"
  podContent = 'Many people find that some of their most important records have been lost or damaged over the years. Worse still, they only discover that such records are missing when a problem arises, and you need to produce the certificate quickly.'
  include ../templates/certificate_section_form_left

  .container.content
    .row
      .col-sm-6
        h2 Death Certificate
    .row
      .col-sm-6
        p.
          A death certificate is a legal document which is issued by an official or registrar, and contains information
          on the cause, location, and date of a particular person’s death. The officials empowered to issue death
          certificates generally require both the identity of the deceased and the cause of death to be certified
          by a recognised coroner or physician before it can be issued. In special cases, such as when the body is
          sustained by artificial life support, a neurologist can be called upon to verify bran death, and the
          certificate can then be issued. The death certificates supplied by Simply Certificate are suitable for
          any legal purpose, including insurance claims and probate actions.

        p.
          The official registration of deaths in the United Kingdom began in 1837. Death certificates include entries
          for the time, date and place of death, the name, surname and sex of the deceased, the deceased date of birth
          or age at the time of death, as well as the deceased’s occupation and their last known address.
          The cause of death and the identity of the person who reported the death are included if they were known.
          From 1874 onward, a death certificate could not be issued without a cause of death that was certified
          by a doctor.

        p.
          Still births were not required to be registered as deaths until 1927, and a cause of death in those cases was
          not mandatory until 1960.

      .col-sm-6
        p.
          Because of the wealth of information on official death certificates, they are of interest to historians,
          genealogists, and anyone interested in learning more about their family or local history.

        p.
          Simply Certificate acts as the customer’s agents in providing replacement certificates of all kinds,
          as well as providing legalisation or consular services. We are a fully independent organisation, and
          unaffiliated with the UK General Register Office or the UK government.

        p.
          We proceed under the assumption that the information our customers supply is complete and accurate, and bear
          no responsibility for inaccurate or incomplete information. We will, however, make every effort to locate
          the correct certificates and resolve any confusions.