extends ../layouts/application
block content
  // Main Header
  include ../templates/main_header

  // Features
  include ../templates/features

  // Testimonial
  include ../templates/testimonial

  // Scroll Link
  include ../templates/scroll
