extends ../layouts/application
block content

  section = "marriage"
  videoLink = "//www.youtube.com/embed/80qF5jxd7hk"
  podContent = 'Do you need a replacement marriage certificate, but don’t fancy spending hours on the telephone waiting to talk to the right person at the records office, only to find out that you have to send in a complicated form and wait weeks and weeks for a reply?'
  include ../templates/certificate_section_form_left

  .container.content
    .row
      .col-sm-6
        h2 Marriage Certificate
    .row
      .col-sm-6
        p.
          Depending on the date and jurisdiction in which it was issued, a certificate of marriage either serves as the official, legal record that a couple has married, grants permission for such a marriage to take place, or more likely both.

        p.
          Civil registration of marriage and central records-keeping of the certificates was introduced across England and Wales on the first of July, 1837. The Registrar General was given authority to record and certify births, deaths and marriages, and the countries were divided into many registration districts. Each district was served by a superintendent registrar who reported to the Registrar General. From 1837 on, all marriages were certified by this system, and the certificates stored centrally as well as locally.

        p.
          The actual marriage ceremony could be legally performed in any parish church by a clergyman (including Jewish, Quaker and Church of England clergy), or in a civil registry office by a secular official such as a registrar. Non-conformist ministers and Catholic priests were once again allowed to perform legally recognised marriages and issue marriage certificates staring in 1898.

        p.
          Once a couple is married, a copy is given to the couple, and a copy is made which is retained by the local registry office or church. Once the local register fills up, it is retained by the superintendent registrar of the district.  The civil registrar or clergyman also sends a second copy of all marriage certificates to the Registrar General on a quarterly basis.

      .col-sm-6
        p.
          Marriage certificates are full of information that can prove extremely useful to those seeking to learn more about their family history, as well as historians and genealogists of all kinds. The marriage certificates supplied by Simply Certificate are the full and complete legal documents, which list the date of marriage, the full names of both parties, their ages (only required after 1850). Between 1858 and 1952, a divorced person’s previous spouse(s) were also listed.

        p.
          Simply Certificate act as the customer’s agents in providing replacement certificates of all kinds, as well as providing legalisation or consular services. We are a fully independent organisation, and unaffiliated with the UK General Register Office or the UK government.

        p.
          We proceed under the assumption that the information our customers supply is complete and accurate, and bear no responsibility for inaccurate or incomplete information. We will, however, make every effort to locate the correct certificates and resolve any confusions.