extends ../layouts/application
block content
  // Main Header
  include ../templates/main_header

  // Birth Certificate Section
  section = "birth"
  videoLink = "//www.youtube.com/embed/mHSRt_a6FYI"
  podContent = 'Many people have lost or damaged their original birth certificate, and only think about replacing it when it is needed right away, and they cannot afford to wait the weeks it takes to get a replacement certificate issued through the General Register Office.'
  include ../templates/certificate_section_form_left

  // Features
  include ../templates/features

  // Marriage Certificate Section
  section = "marriage"
  videoLink = "//www.youtube.com/embed/80qF5jxd7hk"
  podContent = 'Do you need a replacement marriage certificate, but don’t fancy spending hours on the telephone waiting to talk to the right person at the records office, only to find out that you have to send in a complicated form and wait weeks and weeks for a reply?'
  include ../templates/certificate_section_form_right

  // Testimonial
  include ../templates/testimonial

  // Death Certificate Section
  section = "death"
  videoLink = "//www.youtube.com/embed/QoMPqAqJnW8"
  podContent = 'Many people find that some of their most important records have been lost or damaged over the years. Worse still, they only discover that such records are missing when a problem arises, and you need to produce the certificate quickly.'
  include ../templates/certificate_section_form_left

  // Scroll Link
  include ../templates/scroll

