!!! 5
html(ng-app='main-app')
  head
    title= title
    link(href='/stylesheets/vendor-app.css', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/app/application.css', media='screen', rel='stylesheet', type='text/css')
  body
    .container
      h1 Simply Certificate
      p We'll be at your service soon...