extends ../layouts/application
block content
  .blurb
    .container
      .row
        .col-md-offset-5.col-md-7
          img.logo.medium(src= "/images/logo.png")
      .row
        .col-md-5
          h2 Thanks for your order
      .row: .col-md-8
        p
          | Thanks&nbsp;
          strong #{model.order.firstName}
          | , we received your certificate order. You will get an email that contains
          | your order details.

        p Please don't hesitate to contact us with any question you have.

        br
        p.pull-right: strong Simply Certificate Team