form.form-horizontal(role="form")
  .form-group
    label.col-sm-6.control-label(for="date-of-birth") Date of Birth
    .col-sm-6
      input.form-control.input-sm(type="email", id="date-of-birth")
  .form-group
    label.col-sm-6.control-label(for="place-of-birth") Place of Birth
    .col-sm-6
      input.form-control.input-sm(type="email", id="place-of-birth")
  .form-group
    label.col-sm-6.control-label(for="last-name-at-birth") Last Name at Birth
    .col-sm-6
      input.form-control.input-sm(type="email", id="last-name-at-birth")
  .form-group
    label.col-sm-6.control-label(for="first-name-of-birth") First Name of Birth
    .col-sm-6
      input.form-control.input-sm(type="email", id="first-name-of-birth")
  .form-group
    label.col-sm-6.control-label(for="mother-maiden-name") Mother's Maiden Name
    .col-sm-6
      input.form-control.input-sm(type="email", id="mother-maiden-name")
  .form-group
    label.col-sm-6.control-label(for="mother-first-name") Mother's First Name
    .col-sm-6
      input.form-control.input-sm(type="email", id="mother-first-name")
  .form-group
    label.col-sm-6.control-label(for="father-last-name") Father's Last Name
    .col-sm-6
      input.form-control.input-sm(type="email", id="father-last-name")
  .form-group
    label.col-sm-6.control-label(for="father-first-name") Father's First Name
    .col-sm-6
      input.form-control.input-sm(type="email", id="father-first-name")
  .form-group
    .col-sm-offset-6.col-sm-6
      button.btn.btn-primary(type="submit") Proceed