form.form-horizontal(role="form")
  .form-group
    label.col-sm-6.control-label(for="date-of-birth") Place of Birth
    .input-group.col-sm-6
        .input-group-btn
          select.input-sm.form-control(id="date-of-birth", ng-model="model.customer.birthDay", ng-options="day.value as day.name for day in model.days")
            option(value="") Day
        .input-group-btn
          select.input-sm.form-control(id="date-of-birth", ng-model="model.customer.birthMonth", ng-options="day.value as day.name for day in model.days")
            option(value="") Month
        .input-group-btn
          input.form-control.input-sm(id="place-of-birth", ng-model="model.customer.birthYear", placeholder="Year")

  .form-group
    label.col-sm-6.control-label(for="place-of-birth") Place of Birth
    .col-sm-6
      input.form-control.input-sm(type="email", id="place-of-birth")
  .form-group
    label.col-sm-6.control-label(for="last-name-at-birth") Last Name at Birth
    .col-sm-6
      input.form-control.input-sm(type="email", id="last-name-at-birth")
  .form-group
    label.col-sm-6.control-label(for="first-name-of-birth") First Name of Birth
    .col-sm-6
      input.form-control.input-sm(type="email", id="first-name-of-birth")
  .form-group
    label.col-sm-6.control-label(for="mother-maiden-name") Mother's Maiden Name
    .col-sm-6
      input.form-control.input-sm(type="email", id="mother-maiden-name")
  .form-group
    label.col-sm-6.control-label(for="mother-first-name") Mother's First Name
    .col-sm-6
      input.form-control.input-sm(type="email", id="mother-first-name")
  .form-group
    label.col-sm-6.control-label(for="father-last-name") Father's Last Name
    .col-sm-6
      input.form-control.input-sm(type="email", id="father-last-name")
  .form-group
    label.col-sm-6.control-label(for="father-first-name") Father's First Name
    .col-sm-6
      input.form-control.input-sm(type="email", id="father-first-name")
  .form-group
    .col-sm-offset-6.col-sm-6
      button.pull-left.btn.btn-warning(type="submit", data-ng-click="previousStep()", data-ng-show="model.step > 1") Previous Step
      button.pull-right.btn.btn-success(type="submit", data-ng-click="nextStep()", data-ng-show="model.step < 3") Next Step
      button.pull-right.btn.btn-success(type="submit", data-ng-click="saveStepAdditionalInfo()", data-ng-show="model.step == 3") Make Secure Payment