.step-navigation
  button.button-previous.pull-left.btn.btn-sm.btn-warning(type="submit", data-ng-click="previousStep()", data-ng-show="model.step.current > 1") Previous
  button.button-next.pull-right.btn.btn-sm.btn-success(type="submit", data-ng-click="nextStep()", data-ng-show="model.step.current < 3") Next
  button.button-payment.pull-right.btn.btn-sm.btn-success(type="submit", data-ng-click="nextStep()", data-ng-show="model.step.current == 3", data-ng-disabled="model.order.status == 'creating_charge_token'") {{model.order.status != 'creating_charge_token' ? 'Secure Payment' : 'Processing' }}