.featurette.animate-inview
  .container
    .row
      .col-md-12.text-center
        h1 Our Features
      .col-md-12.text-center  
    .row
      .col-sm-3.text-center
        .featurette-item.animate.fadeInLeftBig.invisible
          i.fa.fa-magnet
          h4 Simple
          p For you are a magnet and I am steel.
      .col-sm-3.text-center
        .featurette-item.animate.fadeInLeftBig.invisible
          i.fa.fa-shield
          h4 Secure
          p Protect yourself. Don't design like it's 1999.
      .col-sm-3.text-center
        .featurette-item.animate.fadeInRightBig.invisible
          i.fa.fa-rocket
          h4 Fast
          p Up-up-and-away with this starter template.
      .col-sm-3.text-center
        .featurette-item.animate.fadeInRightBig.invisible
          i.fa.fa-pencil
          h4 Tracking
          p Because lead pencils are pretty smart looking.