.featurette.animate-inview
  .container
    .row
      .col-md-12.text-center
        h1 Our Features
      .col-md-12.text-center  
    .row
      .col-sm-3.text-center
        .featurette-item.animate.fadeInLeftBig.invisible
          i.fa.fa-magnet
          h4 Simple
          p You can order your certificate in 3 simple steps
      .col-sm-3.text-center
        .featurette-item.animate.fadeInLeftBig.invisible
          i.fa.fa-shield
          h4 Secure
          p Our site is fully secure for your orders
      .col-sm-3.text-center
        .featurette-item.animate.fadeInRightBig.invisible
          i.fa.fa-rocket
          h4 Fast
          p We dispatch your documents as early as next day
      .col-sm-3.text-center
        .featurette-item.animate.fadeInRightBig.invisible
          i.fa.fa-pencil
          h4 Tracking
          p We provide tracking information by email and/or SMS