form.form-horizontal.step.3.third(name="payment_form", role="form", novalidate)
  .col-sm-offset-2.col-sm-8(data-ng-show="model.errors.payment")
    .alert.alert-danger.alert-dismissable.text-center
      button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
      .error {{model.errors.payment}}

  .form-group(ng-class='{"has-error": payment_form["card-number"].$invalid && model.step.3.submitted, "has-success": payment_form["card-number"].$valid && model.step.3.submitted}')
    label.col-sm-6.control-label.required(for="card-number") Card Number
    .col-sm-6
      input.form-control.input-sm(type="text", id="card-number", name="card-number", data-stripe="number", ng-model="model.card.number", required='required', ng-pattern=/^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$/, maxlength="16")
  .form-group.expiry-date(ng-class='{"has-error": (payment_form["card-expiry-date-month"].$invalid || payment_form["card-expiry-date-year"].$invalid) && model.step.3.submitted, "has-success": payment_form["card-expiry-date-month"].$valid  && payment_form["card-expiry-date-month"].$valid && model.step.3.submitted}')
    label.col-sm-6.control-label.required(for="card-expiry-date") Expiry Date
    .col-sm-6
      .input-group-btn(ng-class='{"has-error": payment_form["card-expiry-date-month"].$invalid && model.step.3.submitted, "has-success": payment_form["card-expiry-date-month"].$valid && model.step.3.submitted}')
        select.month.input-sm.form-control(id="card-expiry-date-month", name="card-expiry-date-month", data-stripe="exp-month", ng-model="model.card.expiryMonth", ng-options="select as label for (select,label) in model.months", required='required')
          option(value="") Month
      .input-group-btn(ng-class='{"has-error": payment_form["card-expiry-date-year"].$invalid && model.step.3.submitted, "has-success": payment_form["card-expiry-date-year"].$valid && model.step.3.submitted}')
        select.year.input-sm.form-control(id="card-expiry-date-year", name="card-expiry-date-year", data-stripe="exp-year", ng-model="model.card.expiryYear", ng-options="year for year in model.yearsExpiry", required='required')
          option(value="") Year
  .form-group(ng-class='{"has-error": payment_form["card-verification-number"].$invalid && model.step.3.submitted, "has-success": payment_form["card-verification-number"].$valid && model.step.3.submitted}')
    label.col-sm-6.control-label.required(for="card-verification-number") Card Verification (CVC)
    .col-sm-6
      input.form-control.input-sm(type="text", id="card-verification-number", name="card-verification-number", data-stripe="exp-cvc", ng-model="model.card.cvc", required='required', ng-pattern=/\d{3}/, maxlength="3")
      span (last 3 digits on signature strip)
  .form-group
    .col-sm-offset-6.col-sm-6
      include ../templates/buttons_step