form.form-horizontal(role="form")
  .form-group
    label.col-sm-6.control-label(for="father-last-name") Father's Last Name
    .col-sm-6
      input.form-control.input-sm(type="email", id="father-last-name")
  .form-group
    label.col-sm-6.control-label(for="father-first-name") Father's First Name
    .col-sm-6
      input.form-control.input-sm(type="email", id="father-first-name")
  .form-group
    .col-sm-12
      button.pull-left.btn.btn-warning(type="submit", data-ng-click="previousStep()", data-ng-show="model.step > 1") Previous Step
      button.pull-right.btn.btn-success(type="submit", data-ng-click="nextStep()", data-ng-show="model.step < 3") Next Step
      button.pull-right.btn.btn-success(type="submit", data-ng-click="saveStepAdditionalInfo()", data-ng-show="model.step == 3") Make Secure Payment