form.form-horizontal.step.1.first(name="birth_form", role="form", novalidate)
  .form-group.date-of-birth-container(ng-class='{"has-error": (birth_form["day-of-birth"].$invalid || birth_form["month-of-birth"].$invalid || birth_form["year-of-birth"].$invalid) && model.step.1.submitted, "has-success": birth_form["day-of-birth"].$valid && birth_form["month-of-birth"].$valid && birth_form["year-of-birth"].$valid && model.step.1.submitted}')
    label.col-sm-6.control-label.required(for="day-of-birth") Date of Birth
    .col-sm-6
        .input-group-btn(ng-class='{"has-error": birth_form["day-of-birth"].$invalid && model.step.1.submitted, "has-success": birth_form["day-of-birth"].$valid && model.step.1.submitted}')
          select.day.input-sm.form-control(id="day-of-birth", name="day-of-birth", ng-model="model.order.certificate.day", ng-options="day for day in model.days", required='required')
            option(value="") Day
        .input-group-btn(ng-class='{"has-error": birth_form["month-of-birth"].$invalid && model.step.1.submitted, "has-success": birth_form["month-of-birth"].$valid && model.step.1.submitted}')
          select.month.input-sm.form-control(id="month-of-birth", name="month-of-birth", ng-model="model.order.certificate.month", ng-options="select as label for (select,label) in model.months", required='required')
            option(value="") Month
        .input-group-btn(ng-class='{"has-error": birth_form["year-of-birth"].$invalid && model.step.1.submitted, "has-success": birth_form["year-of-birth"].$valid && model.step.1.submitted}')
          input.year.form-control.input-sm(id="year-of-birth", name="year-of-birth", ng-model="model.order.certificate.year", placeholder="Year", required='required', ng-pattern=/19\d{2}|20\d{2}/, maxlength="4")
  .form-group(ng-class='{"has-error": birth_form["place-of-birth"].$invalid && model.step.1.submitted, "has-success": birth_form["place-of-birth"].$valid && model.step.1.submitted}')
    label.col-sm-6.control-label.required(for="place-of-birth") Place of Birth
    .col-sm-6
      input.form-control.input-sm(type="text", id="place-of-birth", name="place-of-birth", data-ng-model="model.order.certificate.place", required='required')
  .form-group(ng-class='{"has-error": birth_form["last-name-at-birth"].$invalid && model.step.1.submitted, "has-success": birth_form["last-name-at-birth"].$valid && model.step.1.submitted}')
    label.col-sm-6.control-label.required(for="last-name-at-birth") Last Name at Birth
    .col-sm-6
      input.form-control.input-sm(type="text", id="last-name-at-birth", name="last-name-at-birth", ng-model="model.order.certificate.lastName", required='required')
  .form-group(ng-class='{"has-error": birth_form["first-name-at-birth"].$invalid && model.step.1.submitted, "has-success": birth_form["first-name-at-birth"].$valid && model.step.1.submitted}')
    label.col-sm-6.control-label.required(for="first-name-at-birth") First Name at Birth
    .col-sm-6
      input.form-control.input-sm(type="text", id="first-name-at-birth", name="first-name-at-birth", ng-model="model.order.certificate.firstName", required='required')
  .form-group
    label.col-sm-6.control-label(for="mother-maiden-name") Mother's Maiden Name
    .col-sm-6
      input.form-control.input-sm(type="text", id="mother-maiden-name", ng-model="model.order.certificate.mother.maidenName")
  .form-group
    label.col-sm-6.control-label(for="mother-first-name") Mother's First Name
    .col-sm-6
      input.form-control.input-sm(type="text", id="mother-first-name", ng-model="model.order.certificate.mother.firstName")
  .form-group
    label.col-sm-6.control-label(for="father-last-name") Father's Last Name
    .col-sm-6
      input.form-control.input-sm(type="text", id="father-last-name", ng-model="model.order.certificate.father.lastName")
  .form-group
    label.col-sm-6.control-label(for="father-first-name") Father's First Name
    .col-sm-6
      input.form-control.input-sm(type="text", id="father-first-name", ng-model="model.order.certificate.father.firstName")
  .form-group(ng-class='{"has-error": birth_form["service-type"].$invalid && model.step.1.submitted, "has-success": birth_form["service-type"].$valid && model.step.1.submitted}')
    label.col-sm-6.control-label.required(for="service-type") Service Type
    .col-sm-6
      .input-group-btn
        select.input-sm.form-control(id="service-type", name="service-type", ng-model="model.order.certificate.serviceType", ng-options="serviceType.type as serviceType.label for serviceType in model.serviceTypes", required='required')
  .form-group(ng-class='{"has-error": birth_form["number-of-copies"].$invalid && model.step.1.submitted, "has-success": birth_form["number-of-copies"].$valid && model.step.1.submitted}')
    label.col-sm-6.control-label.required(for="number-of-copies") Number of Copies
    .col-sm-6
      .input-group-btn
        select.input-sm.form-control(id="number-of-copies", name="number-of-copies", ng-model="model.order.certificate.numberOfCopies", ng-options="number for number in model.numberOfCopies", required='required')
  .form-group(ng-class='{"has-error": birth_form["number-of-apostilles"].$invalid && model.step.1.submitted, "has-success": birth_form["number-of-apostilles"].$valid && model.step.1.submitted}')
    label.col-sm-6.control-label.required(for="number-of-apostilles") Apostilled Copies
    .col-sm-6
      .input-group-btn
        select.input-sm.form-control(id="number-of-apostilles", name="number-of-apostilles", ng-model="model.order.certificate.numberOfApostilles", ng-options="number for number in model.numberOfApostilles", required='required')
          option(value="") -- (£75 per stamp)
  .form-group
    .col-sm-offset-6.col-sm-6
      include ../templates/buttons_step