title= title
- var metaDescription = metaDescription || 'Simply Certificate offer a faster, more convenient way of replacing or getting a copy of official UK birth, death or marriage certificates.'
meta(name="description", content= metaDescription)

link(href='/stylesheets/vendor-app.css', media='screen', rel='stylesheet', type='text/css')
link(href='/stylesheets/app/application.css', media='screen', rel='stylesheet', type='text/css')