title= title
link(href='/stylesheets/vendor-app.css', media='screen', rel='stylesheet', type='text/css')
script(src='/javascripts/vendor-app.js', type='text/javascript')
script(src='https://js.stripe.com/v2', type='text/javascript')

script(type='text/javascript')
  Stripe.setPublishableKey('pk_test_UCpDjFVwLLJsMWzoK3PQyGl8');


!= csrfMetaTag()
