.navbar.navbar-fixed-top.navbar-bold(data-spy='affix', data-offset-top='1000')
  .container
    .navbar-header
      a.navbar-brand(href='/')
        img.logo(src= "/images/logo.png")
      a.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href='/#birth-section') Birth Certificates
        li
          a(href='/#marriage-section') Marriage Certificates
        li
          a(href='/#death-section') Death Certificates
        li
          a(href='/faq') FAQ
        li
          a(href='/contact-us') Contact Us