.blurb(id= "official-info", class= section)
  .container
    .row
      .col-md-12
        h2 Certificate Applications Online
        p.lead
          | We are a private company, and are not a part of or affiliated with the Foreign & Commonwealth Office,
          | the General Register Office (GRO), or any other governmental organisation.

        p.lead
          | While it is possible to have the&nbsp;
          a(href="https://www.gov.uk/order-copy-birth-death-marriage-certificate", target="_blank") General Register Office&nbsp;
          | retrieve a document for you at a reduced fee, we provide additional services that make the experience a lot
          | less frustrating.

    .row
      .col-md-4
        .panel.panel-default
          .panel-heading.text-center
            h3 Why use us?
          .panel-body
            ul
              li
                | Your certificate will be checked for errors before being sent
              li
                | Your certificate will be posted via tracked delivery
              li
                | Customer emails will be responded within 2 working hours
              li
                | Convenient, secure, online application

      .col-md-4
        .panel.panel-default
          .panel-heading.text-center
            h3 We can help with
          .panel-body
            ul
              li
                | Full Birth Certificate
              li
                | Full Marriage Certificate
              li
                | Full Death Certificate
              li
                | Apostille certification service
      .col-md-4
        .panel.panel-default
          .panel-heading.text-center
            h3 We can offer
          .panel-body
            ul
              li
                | Status updates supplied about your application
              li
                | Free reprocessing service if required
              li
                | Free Worldwide Tracked Delivery
              li
                | Secure payment options

    .row
      .col-md-12
        .panel.panel-default
          // Default panel contents
          .panel-heading Service Comparison
          .panel-body
            p Comparison between our service and the service available from the GRO
          // Table
          table.table.table-striped.table-hover
            thead
              tr
                th.col-md-8 Service
                th.col-md-2.text-center Our Service
                th.col-md-2.text-center GRO
            tbody
              tr
                td Your application is reviewed to detect any errors or omissions prior to submission to the GRO
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td Once we got it your certificate will be posted directly to you via Tracked Delivery
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td Complete assistance available during your application, including email and phone support
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td Free reprocessing service if required
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td Personal customer service advisor to assist you through your application
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td Automated application updates by email
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td All of the complications of your order will be handled for you
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td If we cannot find the correct record using the information from your order, we will perform an extended search outside of the year stated at no extra cost to you
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td Your confirmation will be asked when we found your correct record and proceed once you have agreed it is correct
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td We will respond to your emails within 2 working hours
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td We provide a scan and send service
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td We provide an apostille service
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td Service charge
                td.text-center: span £25 - £60
                td.text-center: span £9.25 - £23
              tr
                td: strong APPLY NOW
                td.text-center: a(href="/pricing").btn.btn-primary Our Service
                td.text-center: a(href="https://www.gov.uk/order-copy-birth-death-marriage-certificate", target="_blank").btn.btn-primary GRO
