.blurb(id= "official-info", class= section)
  .container
    .row
      .col-md-12
        h2 Certificate Applications Online
        p.lead
          | We are a private company, and are not a part of or affiliated with the Foreign & Commonwealth Office,
          | the General Register Office (GRO), or any other governmental organisation.

        p.lead
          | While it is possible to have the&nbsp;
          a(href="https://www.gov.uk/order-copy-birth-death-marriage-certificate", target="_blank") General Register Office&nbsp;
          | retrieve a document for you, we provide additional services that make the experience a lot less frustrating than dealing with an unsympathetic bureaucracy.

    .row
      .col-md-4
        .panel.panel-default
          .panel-heading.text-center
            h3 Why use us?
          .panel-body
            ul
              li
                | Lorem ipsum dolor sit amet
              li
                | Lorem ipsum dolor sit amet
              li
                | Lorem ipsum dolor sit amet
              li
                | Lorem ipsum dolor sit amet

      .col-md-4
        .panel.panel-default
          .panel-heading.text-center
            h3 We can help with
          .panel-body
            ul
              li
                | Lorem ipsum dolor sit amet
              li
                | Lorem ipsum dolor sit amet
              li
                | Lorem ipsum dolor sit amet
              li
                | Lorem ipsum dolor sit amet
      .col-md-4
        .panel.panel-default
          .panel-heading.text-center
            h3 We can offer
          .panel-body
            ul
              li
                | Lorem ipsum dolor sit amet
              li
                | Lorem ipsum dolor sit amet
              li
                | Lorem ipsum dolor sit amet
              li
                | Lorem ipsum dolor sit amet

    .row
      .col-md-12
        .panel.panel-default
          // Default panel contents
          .panel-heading Service Comparison
          .panel-body
            p Comparison between our service and the service available from the GRO
          // Table
          table.table.table-striped.table-hover
            thead
              tr
                th.col-md-8 Service
                th.col-md-2.text-center Our Service
                th.col-md-2.text-center GRO
            tbody
              tr
                td Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed con
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed con
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed con
                td.text-center: span.glyphicon.glyphicon-ok
                td.text-center: span.glyphicon.glyphicon-remove
              tr
                td Service charge
                td.text-center: span £25 - £60
                td.text-center: span £9.25 - £23
