.additional-details-container
  h4 Additional Details
  small.row.firstName
    .col-sm-6 First Name
    .col-sm-6 : {{model.order.firstName || '--' }}
  small.row.lastName
    .col-sm-6 Last Name
    .col-sm-6 : {{model.order.lastName || '--' }}
  small.row.email
    .col-sm-6 Email Address
    .col-sm-6 : {{model.order.email || '--' }}
  small.row.address-1
    .col-sm-6 Address 1
    .col-sm-6 : {{model.order.address.address1 || '--' }}
  small.row.address-2
    .col-sm-6 Address 2
    .col-sm-6 : {{model.order.address.address2 || '--' }}
  small.row.city
    .col-sm-6 City
    .col-sm-6 : {{model.order.address.city || '--' }}
  small.row.postcode
    .col-sm-6 Postcode
    .col-sm-6 : {{model.order.address.postcode || '--' }}
  small.row.country
    .col-sm-6 Country
    .col-sm-6 : {{(model.order.address.country | countryLookUp) || '--' }}
  small.row.phone
    .col-sm-6 Phone
    .col-sm-6 : {{model.order.address.phone || '--' }}