.payment-details-container
  h4 Payment Details
  small.row.cardNumber
    .col-sm-6 Card Number
    .col-sm-6 : {{model.card.number || '--' }}
  small.row.expiryDate
    .col-sm-6 Expiry Date
    .col-sm-6 : {{model.months[model.card.expiryMonth] || '--' }} / {{model.card.expiryYear || '--' }}
  small.row.cardVerificationNumber
    .col-sm-6 Card Verification (CVC)
    .col-sm-6 : {{model.card.cvc || '--' }}