.order-summary-details-container
  .panel.panel-default
    .panel-heading
      h3.panel-title Order Summary
    .panel-body
      .certificate-details-container
        h4 Certificate Details
        small.row.dateOfBirth
          .col-sm-6 Date of Birth
          .col-sm-6 : {{model.order.certificate.day || '--' }} / {{model.months[model.order.certificate.month] || '--' }} / {{model.order.certificate.year || '--' }}
        small.row.placeOfBirth
          .col-sm-6 Place of Birth
          .col-sm-6 : {{model.order.certificate.place || '--' }}
        small.row.lastNameAtBirth
          .col-sm-6 Last Name at Birth
          .col-sm-6 : {{model.order.certificate.lastName || '--' }}
        small.row.firstNameAtBirth
          .col-sm-6 First Name at Birth
          .col-sm-6 : {{model.order.certificate.firstName || '--' }}
        small.row.motherMaidenName
          .col-sm-6 Mother's Maiden Name
          .col-sm-6 : {{model.order.certificate.mother.maidenName || '--' }}
        small.row.motherFirstName
          .col-sm-6 Mother's First Name
          .col-sm-6 : {{model.order.certificate.mother.firstName || '--' }}
        small.row.fatherLastName
          .col-sm-6 Father's Last Name
          .col-sm-6 : {{model.order.certificate.father.lastName || '--' }}
        small.row.fatherFirstName
          .col-sm-6 Father's First Name
          .col-sm-6 : {{model.order.certificate.father.firstName || '--' }}
        small.row.numberOfCopies
          .col-sm-6 Number of Copies
          .col-sm-6 : {{model.order.certificate.numberOfCopies || '--' }}
        small.row.apostilledCopies
          .col-sm-6 Apostilled Copies
          .col-sm-6 : {{model.order.certificate.numberOfApostilles || '--' }}
      include ../templates/order_summary_additional
      include ../templates/order_summary_payment