.additional-details-container
  h4 Additional Details
  small.row.numberOfCopies
    .col-sm-6 Number of Copies
    .col-sm-6 : {{model.customer.serviceRequest.numberOfCopies || '--' }}
  small.row.apostilledCopies
    .col-sm-6 Apostilled Copies
    .col-sm-6 : {{model.customer.serviceRequest.numberOfApostilles || '--' }}
  small.row.address-1
    .col-sm-6 Address 1
    .col-sm-6 : {{model.address.address1 || '--' }}
  small.row.address-2
    .col-sm-6 Address 2
    .col-sm-6 : {{model.address.address2 || '--' }}
  small.row.city
    .col-sm-6 City
    .col-sm-6 : {{model.address.city || '--' }}
  small.row.postcode
    .col-sm-6 Postcode
    .col-sm-6 : {{model.address.postcode || '--' }}
  small.row.country
    .col-sm-6 Country
    .col-sm-6 : {{(model.address.country | countryLookUp) || '--' }}
  small.row.phone
    .col-sm-6 Phone
    .col-sm-6 : {{model.address.phone || '--' }}