.panel.panel-default
  .panel-heading
    h3.panel-title Order Summary
  .panel-body
    h4 Certificate Details
    .row
      .col-sm-6 Date of Marriage
      .col-sm-6 {{model.customer.marriage.day}}/{{model.customer.marriage.month}}/{{model.customer.marriage.year}}
    .row
      .col-sm-6 Place of Marriage
      .col-sm-6 {{model.customer.marriage.place}}
    h4 Additional Details
    .row
      .col-sm-6 Date of Marriage
      .col-sm-6 {{model.customer.birth.day}}
    h4 Payment Details
    .row
      .col-sm-6 Date of Marriage
      .col-sm-6 {{model.customer.birth.day}}