h4 Additional Details
small.row
  .col-sm-6 Number of Copies
  .col-sm-6 : {{model.customer.serviceRequest.numberOfCopies || '--' }}
small.row
  .col-sm-6 Apostilled Copies
  .col-sm-6 : {{model.customer.serviceRequest.numberOfApostilles || '--' }}
small.row
  .col-sm-6 Phone
  .col-sm-6 : {{model.address.phone || '--' }}
small.row
  .col-sm-6 Address 1
  .col-sm-6 : {{model.address.address1 || '--' }}
small.row
  .col-sm-6 Address 2
  .col-sm-6 : {{model.address.address2 || '--' }}
small.row
  .col-sm-6 City
  .col-sm-6 : {{model.address.city || '--' }}
small.row
  .col-sm-6 Postcode
  .col-sm-6 : {{model.address.postcode || '--' }}
small.row
  .col-sm-6 Country
  .col-sm-6 : {{model.address.country || '--' }}
small.row
  .col-sm-6 Phone
  .col-sm-6 : {{model.address.phone || '--' }}