form.form-horizontal(role="form", action="/certificate/#{section}", method="post")
  .form-group
    label.col-sm-6.control-label(for="date-of-birth") First Name
    .col-sm-6
      input.form-control.input-sm(type="text", id="date-of-birth")
  .form-group
    label.col-sm-6.control-label(for="place-of-birth") Last Name
    .col-sm-6
      input.form-control.input-sm(type="text", id="place-of-birth")
  .form-group
    .col-sm-offset-6.col-sm-6
      button.btn.btn-primary(type="submit") Proceed