.vert.hidden-xs
  .container.text-center
    .row
      .col-md-12.text-center  
      .col-md-12.text-center  
        ol.progtrckr(data-progtrckr-steps='3')
          li.progtrckr-todo(data-ng-class="{'progtrckr-done': model.steps.current > 1}") Personal Details
          li.progtrckr-todo(data-ng-class="{'progtrckr-done': model.steps.current > 2}") Additional Details
          li.progtrckr-todo(data-ng-class="{'progtrckr-done': model.steps.current > 3}") Payment