.vert.hidden-xs
  .container.text-center
    .row
      .col-md-12.text-center  
      .col-md-12.text-center  
        ol.progtrckr(data-progtrckr-steps='3')
          li.progtrckr-done Personal Details
          li.progtrckr-done Additional Details
          li.progtrckr-todo Payment