ul.nav.pull-right.scroll-down
  li
    a(href='#', title='Scroll down')
      i.fa.fa-chevron-down.fa.fa-3x
ul.nav.pull-right.scroll-top
  li
    a(href='#', title='Scroll to top')
      i.fa.fa-chevron-up.fa.fa-3x