.callout
  .row
    .col-md-12.text-center
      h2 What people say about us
    .col-md-12.text-center  
    .col-md-offset-2.col-md-8.text-center
      .row
        .col-sm-3
          p.testimonial: b= testimonials[testimonialIndex]
        .col-sm-3
          p.testimonial: b= testimonials[testimonialIndex+1]
        .col-sm-3
          p.testimonial: b= testimonials[testimonialIndex+2]
        .col-sm-3
          p.testimonial: b= testimonials[testimonialIndex+3]