.callout
  .row
    .col-md-12.text-center
      h2 What people say about us
    .col-md-12.text-center  
    .col-md-offset-2.col-md-8.text-center
      .row
        .col-sm-3
          img.img-circle(src='http://www.gravatar.com/avatar/5c708a2c9d25d1f2e4195ece1f1c684d?s=80')
        .col-sm-3
          img.img-circle(src='http://www.gravatar.com/avatar/3bb38f66f79ca138f318af89fe6b02ec?s=80')
        .col-sm-3
          img.img-circle(src='http://www.gravatar.com/avatar/3423a3e32fda92a5aaed72c7cde3849c?s=80')
        .col-sm-3
          img.img-circle(src='http://www.gravatar.com/avatar/325b6c3c0a75bfdb72822035bb556826?s=80')
