extends ../layouts/admin
block content
  div(ng-controller="OrdersController")
    .blurb
      .col-md-offset-2.col-md-8
        h1 Orders

        certificateType = 'birth'
        include ../templates/admin/order_certificate_list_section

        certificateType = 'marriage'
        include ../templates/admin/order_certificate_list_section

        certificateType = 'death'
        include ../templates/admin/order_certificate_list_section

        include ../templates/admin/modal_edit_order_birth