extends ../layouts/admin
block content
  div(ng-controller="OrdersController")
    .blurb
      h1 Orders

      h2 Birth
      table.table.table-hover.table-condensed
        tr
          th #
          th First Name
          th Edit
        tr(ng-repeat="order in model.orders | filter: filterByBirthCertificate")
          td {{$index+1}}
          td
            span(editable-text="order.certificate.firstName", e-name="firstName", e-form="rowform") {{ order.certificate.firstName || '--' }}
          td(style="white-space: nowrap")
            form.form-buttons.form-inline(editable-form, name='rowform', ng-show='rowform.$visible')
              button.btn.btn-primary(type='submit', ng-disabled='rowform.$waiting')
                | save
              button.btn.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()')
                | cancel
            .buttons(ng-show='!rowform.$visible')
              button.btn.btn-primary(ng-click='rowform.$show()') edit

      h2 Marriage
      table.table
        tr
          th
        tr(ng-repeat="order in model.orders | filter: filterByCertificateMarriage")
          td {{order.certificate.firstName}}

      h2 Death
      table.table
        tr
          th
        tr(ng-repeat="order in model.orders | filter: filterByCertificateDeath")
          td {{order.certificate.firstName}}