extends ../layouts/admin
block content
  div
    .blurb
      .col-md-offset-1.col-md-10
        h1 Orders

        certificateType = 'birth'
        order-list-section(certificatetype= certificateType)

        certificateType = 'marriage'
        order-list-section(certificatetype= certificateType)

        certificateType = 'death'
        order-list-section(certificatetype= certificateType)