form.form-horizontal.applyForm(name="apply_form", role="form", novalidate, class="{{formtype}}")
  .form-group(ng-class='{"has-error": apply_form["firstName"].$invalid && model.submitted, "has-success": apply_form["firstName"].$valid&& model.submitted}')
    label.col-sm-6.control-label(for="first-name") First Name
    .col-sm-6
      input.form-control.input-sm(type="text", id="first-name-{{formtype}}", name="firstName", ng-model="model.order.firstName", maxlength="50", required='required')
  .form-group(ng-class='{"has-error": apply_form["lastName"].$invalid && model.submitted, "has-success": apply_form["lastName"].$valid && model.submitted}')
    label.col-sm-6.control-label(for="last-name") Last Name
    .col-sm-6
      input.form-control.input-sm(type="text", id="last-name-{{formtype}}", name="lastName", ng-model="model.order.lastName", maxlength="50", required='required')
  .form-group(ng-class='{"has-error": apply_form["email"].$invalid && model.submitted, "has-success": apply_form["email"].$valid && model.submitted}')
    label.col-sm-6.control-label(for="email") Email
    .col-sm-6
      input.form-control.input-sm(type="email", id="email-{{formtype}}", name="email", ng-model="model.order.email", maxlength="254", required='required')
  .form-group
    .col-sm-offset-6.col-sm-6
      button.btn.btn-primary(type="submit", data-ng-click="proceed()") Proceed