extends ../layouts/application
block content
  .container.blurb: .row: .col-md-8
    h1 About Us
    p
      | <strong>Simply Certificate</strong> is dedicated to providing real, fully certified replacement UK birthcertificates and
      | other official documents to our clients more easily, and much more quickly than dealing with the General
      | Registrar’s office directly. One of the services we are especially proud to provide is assistance in finding
      | documents and records that may be thought lost or inaccessible to genealogists, and students of history,
      | or nay individual who doesn’t feel capable of, or comfortable with performing the search themselves.
      | Simply Certificate is not a part of the General Registrar’s office or a part of any government body or
      | organisation. Rather, we act as agents to acquire official UK borth, death, and marriage documentation,
      | apostille services, and records. All of the records we provide are true and certified records, obtained from
      | the General registrar’s office through official channels.
