extends ../layouts/application
block content
  .container.blurb: .row: .col-md-5
    h1 Contact Us
    p
      | We are here to answer any questions you may have about our services. Reach out to us and we'll respond
      | as soon as we can.

    p
      | Even if there is something you have always wanted to have related to our services and can't find it
      | on our system, let us know and we promise we'll do our best to do it for you.

    h3 Address
    p
      | 28 Arc Court <br>
      | 1 Friem Barnet Road <br>
      | N11 1PT London <br>

    h3 Email
    p support@simplycertificate.co.uk

    h3 Telephone
    p 0800 228 9750