extends ../layouts/application
block content
  .container.blurb: .row: .col-md-8

    h1 FAQ
      h3 Are the certificates you provide legally valid?
      p  Yes. Every certificate <b>Simply Certificate</b> supplies is fully certified and legal.

      h3 Is there a difference between long and short form birth certificates?
      p Yes. The short forms only list the name, sex, date and place of birth of the child. The long form includes information about the parents as well.

      h3 Do you supply the long form, unabridged birth certificates?
      p Yes, <b>Simply Certificate</b> supplies only long form birth certificates, which are valid for any legal purpose.

      h3 Does the birth certificate list details for both parents?
      p If both parents registered their information at the time of the birth, then they will both be included in the certificate we supply.

      h3 Can anyone order a UK birth certificate for any person, or only family members or ancestors?
      p Anyone with all the necessary details to complete the order form may order a UK birth certificate for any person whose birth was registered with the UK government.

      h3 Are the certificates you provide valid for things like pension, visa or passport applications?
      p Yes. Every certificate <b>Simply Certificate</b> supplies is fully certified and legally valid for pension, visa and passport applications, as well as any other official use.

      h3 Is the time of birth listed on the birth certificates you supply?
      p
        | The time of birth is not generally recorded on UK birth certificates. If it was not originally present,
        | it will not be present on the certificate we supply. The time of birth
        | is often included on the birth certificates issued for twins, and on many Scottish birth
        | certificates, however. Such information may also be available from the hospital where the birth occurred.
      h3 Can I order several certificates at a time?
      p Yes, you can order up to ten certificates in a single order.

      h3 What if I cannot answer some of the questions on the order form?
      p Simply contact our customer service team at 0800 228 9750 or email us to support@simplycertificate.co.uk and they will be happy to help you with your forms.

      h3 I need a certificate from overseas. What events are registered with the UK?
      p
        | <b>Simply Certificate</b> can supply death, marriage and birth certificates that have been
        | registered with a British Consulate, British High Commission, or with British armed
        | forces abroad. This includes deaths in both World Wars and the Boer War, Army
        | Regimental records after 1761, births and deaths at sea that took place on British
        | vessels after 1837, or on British aircraft after 1948.

      h3 Are the deaths, births or marriages of British citizens abroad recorded in the UK?
      p Not all countries send such records to the UK, but any records that are stored here can be supplied.