extends ../layouts/application
block content
  .container.blurb: .row: .col-md-8
    h1 Privacy Policy
    p
      | Our customer’s privacy is important to us, and we use the information you supply only for the purposes of
      | your order. We retain your information only as long as your order is considered live, and destroy it thereafter.
      | We will only contact you if there are questions or issues pertaining to your current order, and never
      | for marketing purposes. We have never, and will not sell our customer’s personal information for any purpose.
