extends ../layouts/application
block content
  .container.blurb: .row: .col-md-8
    h1 Privacy Policy

    h2 Privacy Policy
    p
      | Our customer’s privacy is important to us, and we use the information you supply only for the purposes of
      | your order. We retain your information only as long as your order is considered live, and destroy it thereafter.
      | We will only contact you if there are questions or issues pertaining to your current order, and never
      | for marketing purposes. We have never, and will not sell our customer’s personal information for any purpose.

    h2 Cookies
    p
      | Cookies are very small files that your browser saves to your computer. Every time you visit
      | our website, your browser sends the cookies back to help us identify you as a unique visitor.
      | This lets us provide you with a more personalised experience and better customer service.
      | We do not send or store any sensitive personal data about you as cookies. You can access our
      | site freely with cookies disabled, but you will have to reactivate them before you make an
      | If you have any questions we have not answered, or of you need help ordering, please contact us directly.
