extends ../layouts/application
block content
  .container.blurb: .row: .col-md-8
    h1 Terms and Conditions
    p
      | Simply Certificate makes it easy to order official UK birth, death, or marriage
      | certificates online.

    h2 When Ordering
    p
      | Simply Certificate relies exclusively on the information you provide as part of
      | your order form, and search for records using that information.
      | Simply Certificate is not responsible for the results of any incomplete or
      | inaccurate information provided on your order form. If Simply Certificate is unable
      | to locate your records based on the information you provide, we may issue you
      | a partial refund, retaining only a search and processing fee. Orders received and
      | paid after 16.00 (4 pm) are deemed to have been received the following working day.
      | This means that a payment actually received at 16.15 on a Friday is deemed
      | to have been received on the following Monday.

    h2 Costs
    p
      | The amount due is made up of the actual cost of the certificate ordered from
      | the General Registrar, as well as an administrative charge which covers the handling,
      | processing and delivery of the certificate.

    h2 Despatch Terms
    p
      | Despatch terms are quoted in good faith, and all items will be despatched to the address provided on the order
      | form, using the UK post. Delivery times are quoted in working days, counted from
      | the first complete working day onwards. Simply Certificate take no responsibility
      | for events beyond our control which affect the delivery of your order.
      | We do not confirm expected delivery dates, only the date at which your order
      | was despatched.

    h2 Delivery Terms
    p
      | Delivery is deemed to have occurred upon despatch, and Simply Certificate is not
      | responsiblefor the delay or non-delivery of a certificate, and customers should be
      | aware that items are occasionally lost or mis-delivered by the Post Office.

    h2 Order Cancellations and Amendments
    p
      | We do not have the capability to amend or cancel
      | an order once it is placed and paid. This is in accordance with regulation 13 (1) (a).
      | We apologise for any inconvenience this may cause.

    h2 Apostille Service
    p
      | You should not make any arrangements for travel before your documents have arrived.
      | If you chose to do so, Simply Certificate will not be responsible for any loss or
      | damage to you that results. Apostille services take up to 7 working days
      | to process after being received, not counting delivery time.
      | Simply Certificate uses only Signed For Service to despatch apostille documents.
      | Delivery times are typically 2 working days to UK customers, 6 working days
      | to customers throughout Europe, or 8 working days worldwide.
      | These times should not be relied upon, as delays are possible.

  .row.vert