footer
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        ul.list-inline
          li
            i.fa.fa-facebook.fa.fa-2x
          li
            i.fa.fa-twitter.fa.fa-2x
          li
            i.fa.fa-google-plus.fa.fa-2x
          li
            i.fa.fa-pinterest.fa.fa-2x
        hr
        p
          | Built with
          i.fa.fa-heart-empty
          | at
          a(href='http://www.bootply.com') Bootply
          | .
          br
          | Company ©2013