.modal.fade.bs-modal-lg(class="{{certificatetype}}", tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true', style='display: none;')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='editableFormDeath.$cancel()') ×
        h4(id="myLargeModalLabel").modal-title Order Details
      .modal-body
        form(editable-form, name='editableFormDeath', onaftersave='saveOrder()', novalidate)
          .form-group.row
            label.col-sm-6.control-label(for="status") Status
            .col-sm-6.status
              span(id="status", editable-text='model.orderSelected.status', e-name='status', onbeforesave='', e-required) {{ model.orderSelected.status || '--' }}

          .form-group.row
            label.col-sm-6.control-label(for="day-of-death") Date of Death
            .col-sm-6.date-of-death-container
              span.col-md-2(id="", editable-text='model.orderSelected.certificate.day', e-name='day', onbeforesave='', e-required) {{ model.orderSelected.certificate.day || '--' }} /&nbsp;
              span.col-md-2(id="", editable-text='model.orderSelected.certificate.month', e-name='month', onbeforesave='', e-required) {{ model.orderSelected.certificate.month || '--' }} /&nbsp;
              span.col-md-2(id="", editable-text='model.orderSelected.certificate.year', e-name='year', onbeforesave='', e-required) {{ model.orderSelected.certificate.year || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="place-of-death") Place of Death
            .col-sm-6
              span(id="place-of-death", editable-text='model.orderSelected.certificate.place', e-name="place-of-death", onbeforesave='', e-required) {{ model.orderSelected.certificate.place || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="last-name-at-death") Last Name of Deceased
            .col-sm-6
              span(id="last-name-at-death", editable-text='model.orderSelected.certificate.lastName', e-name="last-name-at-death", onbeforesave='', e-required) {{ model.orderSelected.certificate.lastName || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="first-name-at-death") First Name of Deceased
            .col-sm-6
              span(id="first-name-at-death", editable-text='model.orderSelected.certificate.firstName', e-name="first-name-at-death", onbeforesave='', e-required) {{ model.orderSelected.certificate.firstName || '--' }}

          include ../admin/modal_edit_order_details_service
          include ../admin/modal_edit_order_details_address

          .row
            button.btn.btn-default.pull-right(type='button', ng-click="editableFormDeath.$show()", ng-show="!editableFormDeath.$visible")
              | Edit
            span(ng-show="editableFormDeath.$visible")
              button.btn.btn-primary(type='submit', ng-disabled="editableFormDeath.$waiting")
                | Save
              button.btn.btn-default(type='button', ng-disabled="editableFormDeath.$waiting", ng-click="editableFormDeath.$cancel()")
                | Cancel