.modal.fade.bs-modal-lg(class="#{certificateType}", tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true', style='display: none;')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='editableForm.$cancel()') ×
        h4(id="myLargeModalLabel").modal-title Order Details
      .modal-body
        form(editable-form, name='editableForm', onaftersave='saveOrder()', novalidate)
          .form-group.row
            label.col-sm-6.control-label(for="first-name") First Name
            .col-sm-6
              span(id="first-name", editable-text='model.orderSelected.certificate.firstName', e-name='first-name', onbeforesave='', e-required) {{ model.orderSelected.certificate.firstName || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="last-name") Last Name
            .col-sm-6
              span(id="last-name", editable-text='model.orderSelected.certificate.lastName', e-name='"last-name"', onbeforesave='', e-required) {{ model.orderSelected.certificate.lastName || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="date-of-birth") Date of Birth
            .col-sm-6
              span.col-md-2(id="", editable-text='model.orderSelected.certificate.day', e-name='day', onbeforesave='', e-required) {{ model.orderSelected.certificate.day || '--' }}
              span.col-md-2(id="", editable-text='model.orderSelected.certificate.month', e-name='month', onbeforesave='', e-required) {{ model.orderSelected.certificate.month || '--' }}
              span.col-md-2(id="", editable-text='model.orderSelected.certificate.year', e-name='year', onbeforesave='', e-required) {{ model.orderSelected.certificate.year || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="date-of-birth") Place of Birth
            .col-sm-6
              span(id="date-of-birth", editable-text='model.orderSelected.certificate.place', e-name='', onbeforesave='', e-required) {{ model.orderSelected.certificate.place || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="mother-maiden-name") Mother's Maiden Name
            .col-sm-6
              span(id="mother-maiden-name", editable-text='model.orderSelected.certificate.mother.maidenName', e-name='', onbeforesave='') {{ model.orderSelected.certificate.mother.maidenName || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="mother-first-name") Mother's First Name
            .col-sm-6
              span(id="mother-first-name", editable-text='model.orderSelected.certificate.mother.firstName', e-name='', onbeforesave='') {{ model.orderSelected.certificate.mother.firstName || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="father-last-name") Father's Last Name
            .col-sm-6
              span(id="father-last-name", editable-text='model.orderSelected.certificate.father.lastName', e-name='', onbeforesave='') {{ model.orderSelected.certificate.father.lastName || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="father-first-name") Father's First Name
            .col-sm-6
              span(id="father-first-name", editable-text='model.orderSelected.certificate.father.firstName', e-name='', onbeforesave='') {{ model.orderSelected.certificate.father.firstName || '--' }}

          include ../admin/modal_edit_order_details_address

          .row
            button.btn.btn-default.pull-right(type='button', ng-click='editableForm.$show()', ng-show='!editableForm.$visible')
              | Edit
            span(ng-show='editableForm.$visible')
              button.btn.btn-primary(type='submit', ng-disabled='editableForm.$waiting')
                | Save
              button.btn.btn-default(type='button', ng-disabled='editableForm.$waiting', ng-click='editableForm.$cancel()')
                | Cancel