.modal.fade.bs-modal-lg(class="{{certificatetype}}", tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true', style='display: none;')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='editableFormBirth.$cancel()') ×
        h4(id="myLargeModalLabel").modal-title Order Details
      .modal-body
        form(editable-form, name='editableFormBirth', onaftersave='saveOrder()', novalidate)
          .form-group.row
            label.col-sm-6.control-label(for="status") Create Date
            .col-sm-6.create-date
              span(id="create-date") {{ model.orderSelected._id | extractCreateDate }}
          .form-group.row
            label.col-sm-6.control-label(for="status") Status
            .col-sm-6.status
              span(id="status", editable-text='model.orderSelected.status', e-name='status', onbeforesave='', e-required) {{ model.orderSelected.status || '--' }}

          .form-group.row
            label.col-sm-6.control-label(for="date-of-birth") Date of Birth
            .col-sm-6.date-of-birth-container
              span.col-md-2(id="", editable-text='model.orderSelected.certificate.day', e-name='day', onbeforesave='', e-required) {{ model.orderSelected.certificate.day || '--' }} /&nbsp;
              span.col-md-2(id="", editable-text='model.orderSelected.certificate.month', e-name='month', onbeforesave='', e-required) {{ model.orderSelected.certificate.month || '--' }} /&nbsp;
              span.col-md-2(id="", editable-text='model.orderSelected.certificate.year', e-name='year', onbeforesave='', e-required) {{ model.orderSelected.certificate.year || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="place-of-birth") Place of Birth
            .col-sm-6
              span(id="place-of-birth", editable-text='model.orderSelected.certificate.place', e-name="place-of-birth", onbeforesave='', e-required) {{ model.orderSelected.certificate.place || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="last-name-at-birth") Last Name at Birth
            .col-sm-6
              span(id="last-name-at-birth", editable-text='model.orderSelected.certificate.lastName', e-name="last-name-at-birth", onbeforesave='', e-required) {{ model.orderSelected.certificate.lastName || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="first-name-at-birth") First Name at Birth
            .col-sm-6
              span(id="first-name-at-birth", editable-text='model.orderSelected.certificate.firstName', e-name="first-name-at-birth", onbeforesave='', e-required) {{ model.orderSelected.certificate.firstName || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="mother-maiden-name") Mother's Maiden Name
            .col-sm-6
              span(id="mother-maiden-name", editable-text='model.orderSelected.certificate.mother.maidenName', e-name="mother-maiden-name", onbeforesave='') {{ model.orderSelected.certificate.mother.maidenName || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="mother-first-name") Mother's First Name
            .col-sm-6
              span(id="mother-first-name", editable-text='model.orderSelected.certificate.mother.firstName', e-name="mother-first-name", onbeforesave='') {{ model.orderSelected.certificate.mother.firstName || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="father-last-name") Father's Last Name
            .col-sm-6
              span(id="father-last-name", editable-text='model.orderSelected.certificate.father.lastName', e-name="father-last-name", onbeforesave='') {{ model.orderSelected.certificate.father.lastName || '--' }}
          .form-group.row
            label.col-sm-6.control-label(for="father-first-name") Father's First Name
            .col-sm-6
              span(id="father-first-name", editable-text='model.orderSelected.certificate.father.firstName', e-name="father-first-name", onbeforesave='') {{ model.orderSelected.certificate.father.firstName || '--' }}

          include ../admin/modal_edit_order_details_service
          include ../admin/modal_edit_order_details_address

          .row
            button.btn.btn-default.pull-right(type='button', ng-click="editableFormBirth.$show()", ng-show="!editableFormBirth.$visible")
              | Edit
            span(ng-show="editableFormBirth.$visible")
              button.btn.btn-primary(type='submit', ng-disabled="editableFormBirth.$waiting")
                | Save
              button.btn.btn-default(type='button', ng-disabled="editableFormBirth.$waiting", ng-click="editableFormBirth.$cancel()")
                | Cancel