div(class= '{{certificatetype}}')
  .row
    .col-md-2: h3= '{{certificatetype}}'
    .col-md-10
      .row
        .col-md-3.pull-right
          input.search-field.form-control(ng-model="model.$", placeholder="Filter")
        .col-md-9
          .btn-group.pull-right
            button.btn.btn-info(type='button', ng-model='model.filter', btn-radio="'created'") Created
            button.btn.btn-success(type='button', ng-model='model.filter', btn-radio="'paid'") Paid
            button.btn.btn-warning(type='button', ng-model='model.filter', btn-radio="'processing'") Processing
            button.btn.btn-success(type='button', ng-model='model.filter', btn-radio="'done'") Done
  .row
    table.table.table-hover.table-condensed
      tr
        td: strong #
        td: strong First Name
        td: strong Last Name
        td: strong Email
        td: strong Phone
        td: strong Status
        td: strong Create Date
        td: strong.pull-right Details
      tr(ng-repeat="order in model.orders | filter: {certificate.type: certificatetype, status: model.filter, $: model.$}")
        td: span {{ order.referenceNumber }}
        td: span {{ order.firstName || '--' }}
        td: span {{ order.lastName || '--' }}
        td: span {{ order.email || '--' }}
        td: span {{ order.address.phone || '--' }}
        td: span {{ order.status || '--' }}
        td: span {{ order._id | extractCreateDate }}
        td
          .buttons.pull-right
            button.btn.btn-primary(data-toggle='modal', data-target='.bs-modal-lg.{{certificatetype}}', ng-click="selectOrder(order._id)") Details