@import "application.css"

.scroll-top
  background-color #11cc45

.header
  background #11cc45 url('../../images/pt_squares_lg.png') repeat center center fixed

.navbar-bold
  background-color #11cc45
  &.affix
    background-color #11cc45
  li
    a
      &:hover
        background-color #00bb34
    &.active
      background-color #00bb34

.welcome-picture
  width 600px

footer
  position absolute
  bottom 0px
  width 100%