@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600');
html,
body
  height 100%
  width 100%
  font-family 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif

.row
  margin 0
  padding 0

h1
  font-size 50px

.icon-bar
  background-color #fff

.scroll-down a, .scroll-top a
  color #ffffff

.scroll-down
  position fixed
  bottom 20%
  right 0%
  color #f9f9f9

.header
  background #0D448A url('../../images/pt_squares_lg.png') repeat center center fixed
  .btn-lg
    font-size 28px
    border-color #eeeeee
    padding 15px
    background-color transparent
    color #ffffff
    &:hover
      background-color #eeeeee
      color #777777
  h1
    font-size 35px
    -webkit-text-stroke 1px rgba(0,0,0,0.1)
    color #431a6d
    color #fff
    margin 35px 0 5px -5px
    font-family 'Helvetica Neue',Helvetica,Arial,sans-serif
  .lead
    color #eeeeee

.navbar
  a
    color #fff

.navbar-bold
  background-color #0D448A
  font-family 'Helvetica Neue',Helvetica,Arial,sans-serif
  &.affix
    background-color #0D448A
  li
    a
      &:hover
        background-color #3598DB
    &.active
      background-color #3598DB

.vert
  vertical-align middle
  width 100%
  padding-top 50px

.blurb
  padding 60px 0
  background-color #fefefe
  .panel
    background-color transparent

.progress-container
  padding 30px 0

.featurette
  background #545455
  padding 50px 0
  color #ffffff

.featurette-item
  margin-bottom 15px
  & i
    border 3px solid #ffffff
    border-radius 50%
    display inline-block
    font-size 56px
    width 140px
    height 140px
    line-height 136px
    vertical-align middle
    text-align center
    &:hover
      font-size 68px

.callout
  color #ffffff
  padding-top 7%
  height 500px
  width 100%
  background url('../../images/uk-great-britain-flag.jpg') no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover

.gallery
  padding 50px 0

.call-to-action
  background #eeeeee
  padding 50px 0
  .btn
    margin 10px

footer
  padding 100px 0

// Custom css
.required
  &:after
    content "*"
    color red
    font-weight bold

.dark
  color #333 !important
  border-color #333 !important

.header
  .panel
    color #fff

.panel
  background transparent

.apply-button
  cursor pointer

// Responsive Video
.video-container
  position relative
  padding-bottom 56.25%
  padding-top 30px
  height 0
  overflow hidden

.video-container iframe,
.video-container object,
.video-container embed
  position absolute
  top 0
  left 0
  width 100%
  height 100%

// Progressbar Tracker
ol
  &.progtrckr
    margin 0
    padding 0
    li
      display inline-block
      text-align center
      line-height 3em
      &.progtrckr-todo
        color silver
        border-bottom 4px solid silver
        &:before
          content "\039F"
          color silver
          background-color white
          font-size 1.5em
          bottom -1.6em
      &.progtrckr-done
        color black
        border-bottom 4px solid yellowgreen
        &:before
          content "\2713"
          color white
          background-color yellowgreen
          height 1.2em
          width 1.2em
          line-height 1.2em
          border none
          border-radius 1.2em
      &:after
        content "\00a0\00a0"
      &:before
        position relative
        bottom -2.5em
        float left
        left 50%
        line-height 1em
  &.progtrckr[data-progtrckr-steps="2"]
    li
      width 49%
  &.progtrckr[data-progtrckr-steps="3"]
    li
      width 33%
  &.progtrckr[data-progtrckr-steps="4"]
    li
      width 24%
  &.progtrckr[data-progtrckr-steps="5"]
    li
      width 19%
  &.progtrckr[data-progtrckr-steps="6"]
    li
      width 16%
  &.progtrckr[data-progtrckr-steps="7"]
    li
      width 14%
  &.progtrckr[data-progtrckr-steps="8"]
    li
      width 12%
  &.progtrckr[data-progtrckr-steps="9"]
    li
      width 11%

$screen-sm-min = 768px
$screen-md-min = 992px
$screen-lg-min = 1200px
// Small devices (tablets, 768px and up) */
// @media (min-width: 768px)

// Medium devices (desktops, 992px and up)
// @media (min-width: 992px)

// Large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px)

// Footer
footer
  background #2d333b
  color #fff

.main-container
  min-height 800px

.navbar-brand
  padding-top 0px

.logo
  height 50px

  &.medium
    width: 320px
    height 83px

// Pricing
.pricing-container
  .panel
    text-align center
    &:hover
      box-shadow 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35)

  .panel-body
    padding 0px
    text-align center

  .the-price
    background-color rgba(220,220,220,.17)
    box-shadow 0 1px 0 #dcdcdc, inset 0 1px 0 #fff
    padding 20px
    margin 0
    h1
      line-height 1em
      padding 0
      margin 0

  .subscript
    font-size 25px

  .cnrflash
    position absolute
    top -9px
    right 4px
    z-index 1
    overflow hidden
    width 100px
    height 100px
    border-radius 3px 5px 3px 0

  .cnrflash-inner
    position absolute
    bottom 0
    right 0
    width 145px
    height 145px
    -ms-transform rotate(45deg)
    -o-transform rotate(45deg)
    -moz-transform rotate(45deg)
    -webkit-transform rotate(45deg)
    -webkit-transform-origin 100% 100%
    -ms-transform-origin 100% 100%
    -o-transform-origin 100% 100%
    -moz-transform-origin 100% 100%
    background-image linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%)
    background-size 4px,auto, auto,auto
    background-color #aa0101
    box-shadow 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2)
    &:before
      left 1px
      border-bottom-color transparent
      border-right-color transparent
    &:after
      right 0
      border-bottom-color transparent
      border-left-color transparent

  .cnrflash-inner:before, .cnrflash-inner:after
    content " "
    display block
    position absolute
    bottom -16px
    width 0
    height 0
    // TODO: [DK] fix this!!!
    // border 8px solid #800000

  .cnrflash-label
    position absolute
    bottom 0
    left 0
    display block
    width 100%
    padding-bottom 5px
    color #fff
    text-shadow 0 1px 1px rgba(1,1,1,.8)
    font-size 0.95em
    font-weight bold
    text-align center

@media (max-width: 1000px )
  .navbar-header
    float none

  .navbar-toggle
    display block

  .navbar-collapse
    border-top 1px solid transparent
    box-shadow inset 0 1px 0 rgba(255,255,255,0.1)
    &.collapse
      display none!important

  .navbar-nav
    float none!important
    margin 7.5px -15px
    & > li
      float none
      & > a
        padding-top 10px
        padding-bottom 10px

  .navbar-collapse.collapse.in
    display: block!important

.pod-content
  font-size 18px
  margin-bottom 20px

.testimonial
  background: rgba(0, 0, 0, 0.3)
