extends ../layouts/application
block content
  .container.content.vert
    .row
      .col-sm-offset-2.col-sm-7
        h2.title= article.title
        p.date.text-right: b= article.date
        p!= article.content