extends ./layouts/application
block content
  .container.blurb: .row: .col-md-8.col-md-offset-1
      h2 404 - Please try again
      p Could not found what you are looking for
      h3 Please try top menu or footer for the links...
