@import url("http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600");
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.row {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
}
.icon-bar {
  background-color: #fff;
}
.scroll-down a,
.scroll-top a {
  color: #fff;
}
.scroll-down {
  position: fixed;
  bottom: 20%;
  right: 0%;
  color: #f9f9f9;
}
.scroll-top {
  background-color: #0d448a;
}
.header {
  background: #0d448a url("../../images/pt_squares_lg.png") repeat center center fixed;
}
.header .btn-lg {
  font-size: 28px;
  border-color: #eee;
  padding: 15px;
  background-color: transparent;
  color: #fff;
}
.header .btn-lg:hover {
  background-color: #eee;
  color: #777;
}
.header h1 {
  font-size: 35px;
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
  color: #431a6d;
  color: #fff;
  margin: 35px 0 5px -5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.header .lead {
  color: #eee;
}
.navbar a {
  color: #fff;
}
.navbar-bold {
  background-color: #0d448a;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-bold.affix {
  background-color: #0d448a;
}
.navbar-bold li a:hover {
  background-color: #3598db;
}
.navbar-bold li.active {
  background-color: #3598db;
}
.vert {
  vertical-align: middle;
  width: 100%;
  padding-top: 4%;
}
.blurb {
  padding: 60px 0;
  background-color: #fefefe;
}
.blurb .panel {
  background-color: transparent;
}
.bright {
  background: #7fbbda url("http://www.bootply.com/assets/example/bg_suburb.jpg") no-repeat center center fixed;
  color: #fff;
}
.featurette {
  background: #545455;
  padding: 50px 0;
  color: #fff;
}
.featurette-item {
  margin-bottom: 15px;
}
.featurette-item i {
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}
.featurette-item i:hover {
  font-size: 68px;
}
.callout {
  color: #fff;
  padding-top: 7%;
  height: 60%;
  width: 100%;
  background: url("../../images/uk-great-britain-flag.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.gallery {
  padding: 50px 0;
}
.call-to-action {
  background: #eee;
  padding: 50px 0;
}
.call-to-action .btn {
  margin: 10px;
}
footer {
  padding: 100px 0;
}
.required:after {
  content: "*";
  color: #f00;
  font-weight: bold;
}
.dark {
  color: #333 !important;
  border-color: #333 !important;
}
.header .panel {
  color: #fff;
}
.panel {
  background: transparent;
}
.apply-button {
  cursor: pointer;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
ol.progtrckr {
  margin: 0;
  padding: 0;
}
ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 3em;
}
ol.progtrckr li.progtrckr-todo {
  color: #c0c0c0;
  border-bottom: 4px solid #c0c0c0;
}
ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: #c0c0c0;
  background-color: #fff;
  font-size: 1.5em;
  bottom: -1.6em;
}
ol.progtrckr li.progtrckr-done {
  color: #000;
  border-bottom: 4px solid #9acd05;
}
ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: #fff;
  background-color: #9acd05;
  height: 1.2em;
  width: 1.2em;
  line-height: 1.2em;
  border: none;
  border-radius: 1.2em;
}
ol.progtrckr li:after {
  content: "\00a0\00a0";
}
ol.progtrckr li:before {
  position: relative;
  bottom: -2.5em;
  float: left;
  left: 50%;
  line-height: 1em;
}
ol.progtrckr[data-progtrckr-steps="2"] li {
  width: 49%;
}
ol.progtrckr[data-progtrckr-steps="3"] li {
  width: 33%;
}
ol.progtrckr[data-progtrckr-steps="4"] li {
  width: 24%;
}
ol.progtrckr[data-progtrckr-steps="5"] li {
  width: 19%;
}
ol.progtrckr[data-progtrckr-steps="6"] li {
  width: 16%;
}
ol.progtrckr[data-progtrckr-steps="7"] li {
  width: 14%;
}
ol.progtrckr[data-progtrckr-steps="8"] li {
  width: 12%;
}
ol.progtrckr[data-progtrckr-steps="9"] li {
  width: 11%;
}
