doctype 5
html(ng-app='admin-app')
  head
    block head
      include ../templates/admin/header

  body
    block navigation
      include ../templates/admin/navigation

    .container
      block content

      include ../templates/admin/footer

include ../templates/admin/defer
link(href='/stylesheets/app/admin.css', media='screen', rel='stylesheet', type='text/css')
