!!! 5
html
  head
    block head
      include ../templates/header
      link(href='/stylesheets/app/application.css', media='screen', rel='stylesheet', type='text/css')
  body
    block navigation
      include ../templates/navigation

    block content

    include ../templates/footer
    include ../templates/defer
    script(src='/javascripts/app/application.js', type='text/javascript')
  != contentFor('javascripts')
