!!! 5
html(ng-app='main-app')
  head
    block head
      include ../templates/header

  body
    block navigation
      include ../templates/navigation

    block content

    include ../templates/footer
    include ../templates/defer
    link(href='/stylesheets/app/application.css', media='screen', rel='stylesheet', type='text/css')