!!! 5
html(data-ng-app='main-app')
  head
    block head
      include ../templates/header

  body
    block navigation
      include ../templates/navigation

    .main-container.vert
      block content

    include ../templates/footer

    include ../templates/defer